<p class="h1">
  Haircut offers
</p>
  <div><form class="selectSort">
  <md-select placeholder="Sort" [(ngModel)]="selectedValue" name="food">
    <md-option *ngFor="let food of foods" [value]="food.value">
     <p> {{food.viewValue}}</p>
    </md-option>
  </md-select>

  <p> Selected value:  </p>
</form></div>
<div id="hair-main">
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>SVM-Studio</md-card-title>
      <md-card-subtitle>Hair studios</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/friziorski-salon-sofia-bogdan-01.jpg">
    <md-card-content>
      <p>
        Make sure your hair is healthy and shiny in the winter! With Hairdresser from SVM-Studio your vision will be more than perfect!
      </p>
      <div class="bold">Цена: <span class="price"> 11.80 лв.</span></div>
    </md-card-content>
    <md-card-actions>
      <a [routerLink]="['/hair', 1]" class="btn" md-raised-button color="accent">Details</a>
    </md-card-actions>
  </md-card>

  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>SVM-Studio</md-card-title>
      <md-card-subtitle>Hair studios</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/friziorski-salon-sofia-bogdan-01.jpg">
    <md-card-content>
      <p>
        Make sure your hair is healthy and shiny in the winter! With Hairdresser from SVM-Studio your vision will be more than perfect!
      </p>
      <div class="bold">Цена: <span class="price"> 11.80 лв.</span></div>
    </md-card-content>
    <md-card-actions>
      <a [routerLink]="['/hair', 2]" class="btn" md-raised-button color="accent">Details</a>
    </md-card-actions>
  </md-card>

  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>SVM-Studio</md-card-title>
      <md-card-subtitle>Hair studios</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/friziorski-salon-sofia-bogdan-01.jpg">
    <md-card-content>
      <p>
        Make sure your hair is healthy and shiny in the winter! With Hairdresser from SVM-Studio your vision will be more than perfect!
      </p>
      <div class="bold">Цена: <span class="price"> 11.80 лв.</span></div>
    </md-card-content>
    <md-card-actions>
      <a [routerLink]="['/hair', 3]" class="btn" md-raised-button color="accent">Details</a>
    </md-card-actions>
  </md-card>
</div>