<h1 id="page-title">
  Haircut offers
</h1>
<div id="hair-main">
<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>SVM-Studio</md-card-title>
    <md-card-subtitle>Hair studios</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/friziorski-salon-sofia-bogdan-01.jpg">
  <md-card-content>
    <p>
Погрижи се косата ти да е здрава и блестяща и през зимата! 
С помощта на Фризьорски салон Relax Beauty & SPA визията ти ще е повече от перфектна!
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>Details</button>
  </md-card-actions>
  <md-card-footer>
  <div><strong>Цена: </strong>11.80 лв.</div>
  </md-card-footer>
</md-card>

<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>SVM-Studio</md-card-title>
    <md-card-subtitle>Фризьорски салони</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/friziorski-salon-sofia-bogdan-01.jpg">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>

<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>SVM-Studio</md-card-title>
    <md-card-subtitle>Фризьорски салони</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/friziorski-salon-sofia-bogdan-01.jpg">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
</div>