<md-sidenav-container class="example-container">
  <md-sidenav #sidenav mode="side" class="example-sidenav">
    <md-list>
      <md-list-item>
        {{this.title}}
        <span class="fill-remaining-space"></span>
        <button md-icon-button (click)="sidenav.toggle();this.btnToggle()">
          <i class="material-icons">cancel</i>
        </button>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item><a routerLink="/home">Home</a></md-list-item>
      <md-list-item><a routerLink="/hair">Hair</a></md-list-item>
      <md-list-item><a routerLink="/manicure">Manicure</a></md-list-item>
    </md-list>
  </md-sidenav>
  <div class="sidenav-content">
    <md-toolbar color="primary">
      <button md-icon-button [ngClass]="{'hidden': this.isHidden}" (click)="sidenav.toggle();this.btnToggle()">
        <i class="material-icons">menu</i>
      </button>
      <span class="hidden-on-mobile">{{this.title}}</span>
      <span class="fill-remaining-space"></span>
      <a md-icon-button *ngIf="!this.loggedUser" routerLink="/login" mdTooltip="Login">
        <i class="material-icons">input</i>
      </a>
      <a md-icon-button *ngIf="this.loggedUser" routerLink="/profile" mdTooltip="My profile">
        <i class="material-icons">person</i>
      </a>
      <a md-icon-button *ngIf="this.loggedUser" (click)="this.logout()" mdTooltip="Logout">
        <i class="material-icons">power_settings_new</i>
      </a>
    </md-toolbar>
  </div>
  <router-outlet></router-outlet>
</md-sidenav-container>
