<div class="user-profile">
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>My profile</md-card-title>
      <md-card-subtitle>Regular user</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="../../assets/img/user-profile-default-pic.png">
    <md-card-content>
      <p>Name: name</p>
      <p>Email: email</p>
      <p>Age: age</p>
      <button md-raised-button>My offers</button>
    </md-card-content>
  </md-card>
</div>
